.cheap {
        background-color: #0ab2c2 !important;
        background-image: none !important;
        color: #ffffff !important;
        text-align:center;
}
.tabela{
    width: 30% !important;
}

.column-id {
    width: 32px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}