.tabela {
     border: 1px solid green;
}

.cabecalho {
   text-align: center;
   font: 20px Arial, sans-serif;
   font-weight: bold;
   color: Snow;
   background:  #008B45;

}

.primeiro {
   text-align: center;
   font: 20px Arial, sans-serif;
   background: #A2CD5A;
}

.ultimo {
   font: 20px Arial, sans-serif;
   text-align: center;
   background: #BCEE68;
}